body{
    background: url(images/bg-image.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 255, 255, 0.431);
}
.img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    
}

.display-item{
    display: flex;
    flex-direction: column;
}